In [4]:
import os
import sys
import numpy as np
import pandas as pd
from matplotlib import pyplot 


#filename = '/home/xiatian/workspace/quantpy/data/AAPL_GOOGL_IBM_20140101_20141201.xls'
#d = pd.read_excel(filename, sheetname=None)

csv_file = '/home/xiatian/workspace/quantpy/data/AAPL_20140101_20141201.csv'
df = pd.read_csv(csv_file)
df[['Open', 'High']]

           Open        High
0    555.680008  557.029945
1    552.860023  553.699989
2    537.450005  546.800018
3    544.320015  545.960052
4    538.810036  545.559990
5    546.800018  546.860046
6    539.829979  540.799988
7    529.910019  542.500000
8    538.220009  546.730003
9    553.520012  560.200005
10   554.900017  556.850021
11   551.480019  552.069992
12   540.990005  550.070000
13   550.910019  557.290031
14   549.940010  556.500000
15   554.000023  555.620033
16   550.070000  554.799988
17   508.760002  514.999985
18   503.950012  507.370010
19   502.539993  506.499977
20   495.179985  501.529984
21   502.610008  507.730019
22   505.850029  509.459991
23   506.559952  515.279991
24   510.059952  513.499977
25   521.379997  522.930046
26   518.660042  531.990013
27   530.610008  537.749985
28   536.949966  539.560013
29   534.659981  544.849960
..          ...         ...
201   98.320000   99.959999
202  103.019997  103.019997
203  102.839996  104.110001
204  104.080002  105.050003
205  105.180000  105.489998
206  104.849998  105.480003
207  105.400002  106.739998
208  106.650002  107.370003
209  106.959999  107.349998
210  108.010002  108.040001
211  108.220001  110.300003
212  109.360001  109.489998
213  109.099998  109.300003
214  108.599998  108.790001
215  108.750000  109.320000
216  109.019997  109.330002
217  108.699997  109.750000
218  109.379997  111.430000
219  111.800003  113.449997
220  113.150002  114.190002
221  114.269997  117.279999
222  113.940002  115.690002
223  115.440002  115.739998
224  114.910004  116.860001
225  117.510002  117.570000
226  116.849998  118.769997
227  119.070000  119.750000
228  117.940002  119.099998
229  119.269997  119.400002
230  118.809998  119.250000

[231 rows x 2 columns]

In [15]:
close_series = df['Close']
close_series
n = 5
x = pd.Series.ewm(close_series, span =  n, min_periods = n - 1).mean()

In [16]:
series = pd.Series.rolling(df['Close'], window=5).mean() 
#pd.concat([d, series], axis=1)
#series.plot()
x = df['Close']
x

0      553.129990
1      540.980019
2      543.930046
3      540.039970
4      543.459969
5      536.519997
6      532.940048
7      535.730019
8      546.389969
9      557.360046
10     554.250015
11     540.669998
12     549.069977
13     551.509979
14     556.180046
15     546.070015
16     550.500023
17     506.499977
18     500.749992
19     499.779984
20     500.600029
21     501.529984
22     508.790016
23     512.589996
24     512.509995
25     519.679985
26     528.989998
27     535.959984
28     535.919983
29     544.429977
          ...
201     99.760002
202    102.470001
203    102.989998
204    104.830002
205    105.220001
206    105.110001
207    106.739998
208    107.339996
209    106.980003
210    108.000000
211    109.400002
212    108.599998
213    108.860001
214    108.699997
215    109.010002
216    108.830002
217    109.699997
218    111.250000
219    112.820000
220    114.180000
221    113.989998
222    115.470001
223    114.669998
224    116.309998
225    116.470001
226    118.629997
227    117.599998
228    119.000000
229    118.930000
230    115.070000
Name: Close, dtype: float64